#homepage {
  min-height: calc(100 * var(--vh));
}

.wrapper-first-layout {
  width: 100%;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: calc(100 * var(--vh));
  background-image: url("https://res.cloudinary.com/flowww-dev/image/upload/v1646954600/L%27institut%20d%27Aur%C3%A9/luca-iaconelli-GmoHIZ61eMo-unsplash_zgykyg.jpg");
}

.wrapper-first-layout::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
}

.wrapper-first-layout p,
.wrapper-first-layout h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
  font-family: "Mea-Culpa";
  /* text-shadow: 1px 2px 8px rgba(0, 0, 0, 0.3), -1px -3px 8px rgba(0, 0, 0, 0.3); */
  text-shadow: 1px 0 10px rgba(0, 0, 0, 0.2);
  font-weight: lighter;
  position: absolute;
}

.wrapper-first-layout h1 {
  width: 100%;
  height: 100%;
  font-size: 120px;
  margin-right: auto;
  color: var(--dark);
  animation: showToMiddle 2s ease;
}

.beautiful-letter {
  color: var(--gold);
}

.wrapper-first-layout p {
  color: var(--dark);
  animation: appearAfterHeading 3s ease 3s;
  bottom: 0;
  font-size: 38px;
  width: 100%;
  border-radius: 50%;
  display: block;
  position: absolute;
  height: 100%;
}

.grid-home {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-evenly;
  margin-block: 100px;
  row-gap: 50px;
}
.card-grid {
  overflow: hidden;
  width: 230px;
  height: 400px;
  background-color: var(--gold);
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.header-card-grid {
  height: auto;
}
.header-card-grid img {
  max-width: 100%;
  height: auto;
  /* border-radius: 8px 8px 0 0; */
}

.body-card-grid {
  height: auto;
  padding: 8px;
  font-family: "Helius-Black";
  font-size: 24px;
}
/* .body-card-grid p {

} */

.footer-card-grid {
  height: auto;
}

@keyframes showToMiddle {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  70% {
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 70rem) {
  .wrapper-first-layout h1 {
    font-size: 96px;
  }
  /* .wrapper-first-layout p {
    font-size: 72px;
  } */
  .grid-home {
    grid-template-columns: auto auto;
  }
}

@media screen and (max-width: 1000px) {
  .wrapper-first-layout p {
    font-size: 24px;
  }
}

@media screen and (max-width: 50rem) {
  .wrapper-first-layout h1 {
    font-size: 72px;
  }
  .wrapper-first-layout p {
    font-size: 24px;
  }
}

@media screen and (max-width: 580px) {
  .wrapper-first-layout h1,
  .wrapper-first-layout p {
    padding: 0;
  }
  .wrapper-first-layout h1 {
    font-size: 48px;
  }
  .wrapper-first-layout p {
    font-size: 24px;
  }
}
