#lash {
  min-height: calc(100 * var(--vh));
}

#wrapper-title {
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 100px;
}

#wrapper-title h1 {
  font-size: 100px;
  font-family: "Garamond-Bold";
  white-space: nowrap;
}

#wrapper-title p {
  font-size: 36px;
  font-family: "Garamond-BoldItalic";
  color: var(--gold);
}

.container-show-lash {
  display: flex;
  justify-content: space-between;
  padding-block: 200px;
}

.container-show-lash img {
  transition: all 3s;
  max-width: calc(960px * 0.5);
  max-height: calc(960px * 0.5);
  padding: 48px;
  margin-block: auto;
  opacity: 0;
  transform: translateY(50px);
}

.text-container-show {
  width: 100%;
  padding: 48px;
  display: flex;
  flex-direction: column;
}

.text-container-show p {
  text-underline-offset: 4px;
  font-size: 32px;
  text-decoration: underline;
  text-decoration-color: var(--gold);
  padding: 24px;
  font-family: "Garamond-Medium";
}

.text-container-show span {
  font-size: 24px;
}

.text-container-show ul {
  margin-top: auto;
}

.text-container-show ul li {
  transition: all 1s 0.5s;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style-position: inside;
  padding: 12px;
  opacity: 0;
  transform: translateY(50px);
}

.text-container-show ul li img {
  max-width: 50px;
  max-height: 50px;
  padding: 0;
}

.text-container-show ul li span {
  margin-left: 24px;
}

.text-container-show ul li span {
  margin-left: 12px;
}

.text-container-show ul li p {
  font-size: 24px;
}

.text-container-show ul li strong {
  color: var(--gold);
  text-transform: uppercase;
}

.container-show-lash.is-shown img {
  opacity: 1;
  transform: translateY(0);
}

.container-show-lash.is-shown .text-container-show ul li {
  opacity: 1;
  transform: translateY(0);
}

@media screen and (max-width: 1000px) {
  .text-container-show p {
    font-size: 36px;
  }
  .container-show-lash img {
    max-width: calc(960px * 0.4);
    max-height: calc(960px * 0.4);
  }
}

@media screen and (max-width: 720px) {
  .container-show-lash {
    flex-direction: column;
    align-items: center;
  }
  #wrapper-title {
    padding: 8px;
  }
  #wrapper-title h1 {
    font-size: 54px;
    white-space: pre-wrap;
  }

  .container-show-lash img {
    max-width: calc(960px * 0.3);
    max-height: calc(960px * 0.3);
    padding: 8px;
  }
  .text-container-show {
    padding: 8px;
  }
}
