html.no-scroll {
  overflow: hidden;
}

.page-container {
  min-height: calc(100 * var(--vh));
  overflow: visible;
}

#wrapper-title {
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 100px;
}

#wrapper-title h1 {
  font-size: 100px;
  font-family: "Garamond-Bold";
  white-space: nowrap;
}

#wrapper-title p {
  font-size: 36px;
  font-family: "Garamond-BoldItalic";
  color: var(--gold);
}

@keyframes slidein {
  0% {
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    opacity: 0.5;
  }
  20% {
    transform: translateY(20%);
    -webkit-transform: translateY(20%);
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-10%);
    transform: translateY(-10%);
    opacity: 0.5;
  }
  55% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}

@media screen and (max-width: 1200px) {
  #wrapper-title {
    padding: 60px;
  }
  #wrapper-title h1 {
    font-size: 70px;
  }
  #wrapper-title p {
    font-size: 30px;
  }
}

@media screen and (max-width: 780px) {
  #wrapper-title {
    padding: 40px;
  }
  #wrapper-title h1 {
    font-size: 60px;
    white-space: pre-wrap;
  }
  #wrapper-title p {
    font-size: 24px;
    white-space: pre-wrap;
  }
}

@media screen and (max-width: 580px) {
  #wrapper-title {
    padding: 20px;
  }
  #wrapper-title h1 {
    font-size: 32px;
    white-space: pre-wrap;
  }
  #wrapper-title p {
    font-size: 20px;
    white-space: pre-wrap;
  }
}
