* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
}

html {
  --dark: #282c34;
  --red: #e9a2ad;
  --gold: #dcc77f;
}
html,
body,
#root {
  min-height: calc(100 * var(--vh)) !important;
  height: auto;
  margin: 0 !important;
  padding: 0 !important;
  min-width: 100vw;
  background-color: var(--dark);
  background-blend-mode: lighten;
  font-family: "Louis-George-Cafe";
}

@font-face {
  font-family: "Tahu";
  font-display: swap;
  src: url("./fonts/Tahu.ttf") format("truetype");
}

@font-face {
  font-family: "Particle";
  font-display: swap;
  src: url("./fonts/Particle-Regular.otf") format("truetype");
}

@font-face {
  font-family: "Zizio";
  font-display: swap;
  src: url("./fonts/ZIzio.ttf") format("truetype");
}

@font-face {
  font-family: "Mea-Culpa";
  font-display: swap;
  src: url("./fonts/MeaCulpa-Regular.woff2") format("truetype");
}

@font-face {
  font-family: "Louis-George-Cafe-Bold";
  font-display: swap;
  src: url("./fonts/Louis-George-Cafe-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Louis-George-Cafe-Bold-Italic";
  font-display: swap;
  src: url("./fonts/Louis-George-Cafe-Bold-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Louis-George-Cafe-Italic";
  font-display: swap;
  src: url("./fonts/Louis-George-Cafe-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Louis-George-Cafe-Light-Italic";
  font-display: swap;
  src: url("./fonts/Louis-George-Cafe-Light-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Louis-George-Cafe-Light";
  font-display: swap;
  src: url("./fonts/Louis-George-Cafe-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Louis-George-Cafe";
  font-display: swap;
  src: url("./fonts/Louis-George-Cafe.ttf") format("truetype");
}
