* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
}

html {
  --dark: #282c34;
  --red: #e9a2ad;
  --gold: #dcc77f;
}
html,
body,
#root {
  min-height: calc(100 * var(--vh)) !important;
  height: auto;
  margin: 0 !important;
  padding: 0 !important;
  min-width: 100vw;
  background-color: var(--dark);
  background-blend-mode: lighten;
  font-family: "Garamond-Regular";
}

@font-face {
  font-family: "Tahu";
  font-display: swap;
  src: url("./fonts/Tahu.ttf") format("truetype");
}

@font-face {
  font-family: "Mea-Culpa";
  font-display: swap;
  src: url("./fonts/MeaCulpa-Regular.woff2") format("truetype");
}

@font-face {
  font-family: "Garamond-Bold";
  font-display: swap;
  src: url("./fonts/Garamond-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Garamond-BoldItalic";
  font-display: swap;
  src: url("./fonts/Garamond-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Garamond-ExtraBold";
  font-display: swap;
  src: url("./fonts/Garamond-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "Garamond-ExtraBoldItalic";
  font-display: swap;
  src: url("./fonts/Garamond-ExtraBoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Garamond-Italic";
  font-display: swap;
  src: url("./fonts/Garamond-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Garamond-Medium";
  font-display: swap;
  src: url("./fonts/Garamond-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Garamond-MediumItalic";
  font-display: swap;
  src: url("./fonts/Garamond-MediumItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Garamond-Regular";
  font-display: swap;
  src: url("./fonts/Garamond-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Garamond-SemiBold";
  font-display: swap;
  src: url("./fonts/Garamond-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Garamond-SemiBoldItalic";
  font-display: swap;
  src: url("./fonts/Garamond-SemiBoldItalic.ttf") format("truetype");
}
