* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
  overflow: visible;
}

html {
  --dark: #282c34;
  --red: #e9a2ad;
  --gold: #dcc77f;
  --pink: #f4c1bc;
  --blue: #0028ff;
}
html,
body,
#root {
  min-height: calc(100 * var(--vh)) !important;
  height: auto;
  margin: 0 !important;
  padding: 0 !important;
  min-width: 100vw;
  background-color: var(--dark);
  background-blend-mode: lighten;
  font-family: "Garamond-Regular";
  color: white;
}

@font-face {
  font-family: "Tahu";
  font-display: swap;
  src: local("Tahu"), url("./fonts/Tahu.woff2") format("woff2");
}

@font-face {
  font-family: "Mea-Culpa";
  font-display: swap;
  src: local("Mea-Culpa"), url("./fonts/MeaCulpa-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Garamond-Bold";
  font-display: swap;
  src: local("Garamond-Bold"),
    url("./fonts/Garamond-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Garamond-BoldItalic";
  font-display: swap;
  src: local("Garamond-BoldItalic"),
    url("./fonts/Garamond-BoldItalic.woff2") format("woff2");
}
@font-face {
  font-family: "Garamond-ExtraBold";
  font-display: swap;
  src: local("Garamond-ExtraBold"),
    url("./fonts/Garamond-ExtraBold.woff2") format("woff2");
}
@font-face {
  font-family: "Garamond-Medium";
  font-display: swap;
  src: local("Garamond-Medium"),
    url("./fonts/Garamond-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Garamond-Regular";
  font-display: swap;
  src: local("Garamond-Regular"),
    url("./fonts/Garamond-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Garamond-SemiBold";
  font-display: swap;
  src: local("Garamond-SemiBold"),
    url("./fonts/Garamond-SemiBold.woff2") format("woff2");
}
